<!-- El contenedor del formulario es ahora el único elemento principal -->
<div class="login-container">
  <div class="logo-container">
    <img src="assets/Esiadlogo.png" alt="Logo ESIAD ARQ">
  </div>

  <h2>Acceder</h2>

  <form (ngSubmit)="submit()" #f="ngForm">
    <div class="input-group">
      <i class="fas fa-user icon"></i>
      <input name="email" [(ngModel)]="model.email" type="email" placeholder="Email" required>
    </div>

    <div class="input-group">
      <i class="fas fa-lock icon"></i>
      <input name="password" [(ngModel)]="model.password" type="password" placeholder="Contraseña" required>
    </div>

    <div class="links">
      <a routerLink="/forgot">¿Olvidó su contraseña?</a>
      <a routerLink="/register">Crear cuenta</a>
    </div>
    
    <button type="submit" class="submit-btn" [disabled]="loading || !f.form.valid">Iniciar sesión</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>
