<header class="top-header">
  <div class="search-bar">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Buscar...">
  </div>

  <div class="user-profile-container">
    <div class="user-profile" (click)="toggleDropdown()">
      <div class="profile-icons">
        <i class="bi bi-bell"></i>
      </div>
      <div class="profile-details">
        <i class="bi bi-person-circle"></i>
        <div class="user-info">
          <span class="user-name">ESIAD SAC</span>
          <span class="user-role">Admin</span>
        </div>
      </div>
    </div>

    <div class="user-dropdown" *ngIf="isDropdownOpen">
      <div class="dropdown-header">
        <span class="user-name">ESIAD SAC</span>
        <span class="user-email">admin@esiadsac.com</span>
      </div>
      <div class="dropdown-divider"></div>
      <a href="#" class="dropdown-item">
        <i class="bi bi-gear"></i>
        <span>Configuración</span>
      </a>
      <a (click)="logout()" class="dropdown-item">
        <i class="bi bi-box-arrow-right"></i>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </div>
</header>